In [2]:
 import pandas as pd

In [4]:
data=pd.read_csv("C://Users//HP//Downloads//heart.csv")

In [5]:
data

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
from sklearn.model_selection import train_test_split

In [8]:
X=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [9]:
X

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [10]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

## Logistic Regression

In [12]:
from sklearn.linear_model import LogisticRegression

In [15]:
lr=LogisticRegression(random_state=0,solver='liblinear')
lr.fit(X_train,y_train)

LogisticRegression(random_state=0, solver='liblinear')

In [16]:
lr.predict([[64,0,2,145,233,1,0,150,0,2.3,0,0,1]])

array([1], dtype=int64)

In [20]:
y_pred=lr.predict(X_test)

In [24]:
from sklearn.metrics import confusion_matrix,accuracy_score
confusion_matrix(y_test,y_pred)

array([[22,  5],
       [ 4, 30]], dtype=int64)

In [25]:
accuracy_score(y_test,y_pred)

0.8524590163934426

## KNN

In [40]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [41]:
y_pred1=knn.predict(X_test)

In [42]:
confusion_matrix(y_test,y_pred1)

array([[17, 10],
       [12, 22]], dtype=int64)

In [43]:
accuracy_score(y_test,y_pred1)

0.639344262295082

## SVM

In [44]:
from sklearn.svm import SVC

In [59]:
svc=SVC(kernel='linear')
svc.fit(X_train,y_train)

SVC(kernel='linear')

In [60]:
y_pred2=svc.predict(X_test)

In [61]:
confusion_matrix(y_test,y_pred2)

array([[20,  7],
       [ 4, 30]], dtype=int64)

In [62]:
accuracy_score(y_test,y_pred2)

0.819672131147541

## Decision Tree Classifier

In [63]:
from sklearn.tree import DecisionTreeClassifier

In [64]:
dtc=DecisionTreeClassifier(criterion='entropy')
dtc.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [69]:
y_pred3=dtc.predict(X_test)

In [70]:
confusion_matrix(y_test,y_pred3)

array([[23,  4],
       [ 9, 25]], dtype=int64)

In [71]:
accuracy_score(y_test,y_pred3)

0.7868852459016393

## Random Forest Classification

In [72]:
from sklearn.ensemble import RandomForestClassifier

In [73]:
rfc=RandomForestClassifier(n_estimators=100,criterion='entropy')
rfc.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy')

In [75]:
y_pred4=rfc.predict(X_test)

In [76]:
confusion_matrix(y_test,y_pred4)

array([[22,  5],
       [ 5, 29]], dtype=int64)

In [77]:
accuracy_score(y_test,y_pred4)

0.8360655737704918